<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center mb-4">Update User</h2>

    <form action="#" th:action="@{/admin/update}" method="post">

        <input type="hidden" th:value="${userDTO.id}" name="id"/>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" th:value="${userDTO.username}" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" th:value="${userDTO.email}" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control">
            <small class="form-text text-muted">Leave blank to keep the current password</small>
        </div>


        <div class="form-group">
            <label for="role">Role:</label>
            <select id="role" name="role" class="form-control">
                <option th:each="role : ${allRoles}"
                        th:value="${role.getAuthority()}"
                        th:text="${role.getAuthority()}"
                        th:selected="${userDTO.roles.contains(role)}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="/logout" class="btn btn-danger btn-block">Logout</a>
    </form>

    <div th:if="${errors}" class="container mt-3">
        <div class="alert alert-danger">
            <ul>
                <li th:each="error : ${errors}" th:text="${errors.toString()}"></li>
            </ul>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
